@mixin keyStyle($top, $left, $height) {
  top: $top;
  left: $left;
  height: $height;
  width: auto;
  //-webkit-transform:rotate($rotateValue);
  //-moz-transform: rotate($rotateValue);
  //-ms-transform: rotate($rotateValue);
  //-o-transform: rotate($rotateValue);
  //transform: rotate($rotateValue);
}

